* {
    box-sizing: border-box;
}

body{
    background: rgb(221, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
}

.container {
    width: 90%;
    border: 1px solid grey;
    margin: auto;
}

.container h1{
    text-align: center;
    font-size: 30px;
}

.users-list{
    background-color: #fff;
    border: solid 1px grey;
    padding: 10px;
}

.user-data{
    width: 70%;
    margin: auto;
}

.user-data img{
   width: 100%; 
   border-radius: 50%;
}

.user-data h3{
    text-align: center;
}

.btn-more-users{
    background-color: rgb(69, 129, 9);
    color: #fff;
    border: none;
    font-size: 1.3em;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

@media (min-width: 768px){
    .users-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .user-data{
        width: 48%;
        margin: 0;
    }
}

@media (min-width: 1200px){
    .users-list{
        max-width: 700px;
        margin: auto;
    }
    .user-data{
        width: 33%;
    }
    .user-data img{
        width: 75%;
        display: block;
        margin: auto;
    }
    .btn-more-users{
        margin-top: 25px;
    }
}